.product{
    width:200px;
    height: 300px;
    border: 1px solid lightgrey;
    position:relative;
    
}

.product .img{
    width:100%;
    height:150px;
    border:1px solid gray;
}
.product .img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.btnremove{
    background-color: brown !important;
}

.details{
    padding:5px;
    font-size: 10px;
    position:absolute;
    left:30px;
}

.details h3{
    margin-bottom:10px;
    font-size: 20px;
    
}

.details p{
    color:darkolivegreen;
    font-weight:800;
    font-size:18px;
}

.details button{
    padding:5px 15px;
    margin-top:20px;
    background-color:teal;
    color:beige;
    border:none;
    font-size:15px;
    border-radius: 3px;
}

.details button:hover{
    background-color:lightseagreen ;
    cursor:pointer;
}